*.o
project/ble_peripheral/ble_app_uart/pca10028/s130/armgcc/_build/nrf51422_xxac_s130.bin
project/ble_peripheral/ble_app_uart/pca10028/s130/armgcc/_build/nrf51422_xxac_s130.hex
project/ble_peripheral/ble_app_uart/pca10028/s130/armgcc/_build/nrf51422_xxac_s130.map
project/ble_peripheral/ble_app_uart/pca10028/s130/armgcc/_build/nrf51422_xxac_s130.out
.metadata
project/ble_peripheral/ble_app_gls/pca10028/s130/armgcc/_build
project/ble_peripheral/ble_app_uart_1/pca10028/s130/armgcc/_build
project/ble_peripheral/ble_app_pmd/pca10028/s130/armgcc/_build
project/ble_peripheral/ble_app_pmd/.project
project/ble_peripheral/ble_app_pmd/pca10028/s130/armgcc/_build/nrf51422_xxac_s130.bin
project/ble_peripheral/ble_app_pmd/pca10028/s130/armgcc/_build/nrf51422_xxac_s130.hex
project/ble_peripheral/ble_app_pmd/pca10028/s130/armgcc/_build/nrf51422_xxac_s130.map
project/ble_peripheral/ble_app_pmd/pca10028/s130/armgcc/_build/nrf51422_xxac_s130.out
examples/dfu/bootloader/pca10028/dual_bank_ble_s130/armgcc/_build/nrf51422_xxac.bin
examples/dfu/bootloader/pca10028/dual_bank_ble_s130/armgcc/_build/nrf51422_xxac.hex
examples/dfu/bootloader/pca10028/dual_bank_ble_s130/armgcc/_build/nrf51422_xxac.map
examples/dfu/bootloader/pca10028/dual_bank_ble_s130/armgcc/_build/nrf51422_xxac.out
